.wrap {
    background-image: url('/DRTu.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splashcard {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1cm;
    width: 50vw;
    height: auto;
    display: flex;
    margin: auto;

}

.logoBlock {
    height: 10vw;
    width: 10vw;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, 0.942);
    box-shadow: 0px 0px 50px #00C6D7;
    margin: auto;
}

.blockRight {
    height: fit-content;
    border-radius: 1cm;
    width: 50%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.blockleft {
    height: 100%;
    border-radius: 1cm;
    width: 40%;
    align-content: center;
}

.module-border-wrap {
    padding: 3px;
    border-radius: 1cm;
    height: fit-content;
}

.module {
    background: #000000dc;
    color: white;
    border-radius: 1cm;
    padding: 1vw;
    height: 20vh;
}

button {
    margin-top: 2vh;
}

form {
    display: flex;
    flex-direction: column;
}