<div class="wrap">

    <div class="splashcard">

        <div class="blockleft">
            <div class="logoBlock">

            </div>
        </div>


        <div class="blockRight">
            <div class="module-border-wrap">
                <div style="display: flex; flex-direction: column;">


                    <button mat-flat-button (click)="toAdmin()">Sign In</button>
                                        <button mat-flat-button (click)="openCreateEmployee()">Request Credentials</button>

                </div>

            </div>


        </div>

    </div>



</div>