<div class="wrap">
  
    
<div style="width: 100vw; height: 100vh ; background-image: url('/DRT.png'); z-index: 9998; position: absolute;background-size: cover;
    background-repeat: no-repeat;   pointer-events: none;"></div>
    <div class="splashcard">

        <div class="blockleft">
            <div class="logoBlock">
                <img style="width: 100%;" src="adenlogo.svg">

            </div>
        </div>


        <div class="blockRight">

            <div style="display: flex; flex-direction: column;">

                <form (ngSubmit)="login()">
                    <mat-form-field appearance="outline">
                        <input matInput [(ngModel)]="name" name="name" placeholder="Email"
                            required /></mat-form-field><mat-form-field appearance="outline">
                        <input matInput [(ngModel)]="password" name="password" type="password" placeholder="Password"
                            required /></mat-form-field>
                    <button mat-flat-button type="submit">Login</button>
                </form>

                <button mat-flat-button (click)="openCreateEmployee()">Request Credentials</button>

            </div>




        </div>

    </div>

</div>