.sidenav-container {
    height: 100%;
    padding-left: 1vh;
    padding-right: 1vh;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}


.sideIcon {
    padding-top: 4%;
    width: 15%;
    height: 15%;
    margin-left: 2vh;
        margin-right: 2vh;
}



.menuCenter {
    display: flex;
    padding-bottom: 1vh;
    border-bottom: 1px solid rgba(128, 0, 128, 0.5) ;
    
}
.menuCenter:hover {
    background-color: rgba(0, 255, 255, 0.226);
}
p{
    padding-top: 1.25vh;
}

devOver {
    position: absolute;
    background-color: aqua;
}