<form [formGroup]="createPriceForm">

    <div>

        <mat-form-field appearance="outline">
            <mat-label>lab</mat-label>
            <input matInput id="priceLabl" formControlName="priceLabl">
        </mat-form-field>
    </div>





    <button mat-button (click)="save(createPriceForm)" cdkFocusInitial>Ok</button>





</form>

<!-- Add this to internacoms.component.html -->

<div *ngIf="internacoms$ | async as internacoms">

            <div>
                <p *ngFor="let item of internacoms">{{ item.priceLabl }},</p>
             
            </div>
      
</div><button mat-raised-button color="warn" (click)="clearAllInternacoms()">Clear All</button>