<div class="ChecklistsWrap">

    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Global Checklist</mat-card-title>
            <mat-card-subtitle>For all branches</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="cardback.PNG">
        <mat-card-content>
            <p>
                Create or update global checklists
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>New List</button>
            <button mat-button>Edit List</button>
        </mat-card-actions>
    </mat-card>



</div>
