<div>
    <h1>Client</h1>
    <!--<form [formGroup]="agendaForm" (ngSubmit)="addAgenda()">
        <input formControlName="title" placeholder="Title" required>
        <textarea formControlName="content" placeholder="Content" required></textarea>
        <button type="submit">Add Post</button>
    </form>
  <ul>
        @for(let agenda of agendas | async; track $index){
        <li>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
        </li>
        }
    </ul>-->
</div>